@model Hayvan_Barınağı.Models.ViewModels.CinsDuzenleRequest

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Cinsleri Düzenle - Admin
        </h1>

    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">
            <div class="mb-3">

                <label class="form-label">
                    Cins ID
                </label>

                <input type="text" id="CinsId" class="form-control" asp-for="CinsId" readonly />

            </div>
            <div class="mb-3">

                <label class="form-label">
                    Cins Adı
                </label>

                <input type="text" id="CinsAdi" class="form-control" asp-for="CinsAdi" />
            </div>
            <div class="mb-3">
                <div class=" d-flex">
                    <button type="submit" class="btn btn-dark"> Kaydet</button>
                    <button class="btn btn-danger ms-2" type="submit"
                        asp-area=""
                        asp-controller="AdminCinsler"
                        asp-action="Sil">
                        Sil
                    </button>
                </div>
            </div>
        </form>

    }
    else
    {
        <p> Cins Bulunamadı.</p>
    }
</div>
