@model Hayvan_Barınağı.Models.ViewModels.HayvanEkleRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Yeni Hayvan Ekle - Kullanıcı
        </h1>

    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">
                Hayvan Adı
            </label>
            <input type="text" class="form-control" id="HayvanAdi" asp-for="HayvanAdi" />

            <div class="mb-3">
                <label class="form-label">Tür</label>
                <select class="form-select"
                        asp-items="@Model.Turler"
                        asp-for="SecilenTur">
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Cins</label>
                <select class="form-select"
                        asp-items="@Model.Cinsler"
                        asp-for="SecilenCins">
                </select>
            </div>

            <label class="form-label">
                Yaş
            </label>
            <input type="number" class="form-control" id="HayvanYas" asp-for="Yas" />
            <br />
            <label class="form-label">
                Cinsiyet
            </label>
            <br />
            <select name="Cinsiyet" id="Cinsiyet">
                <option value="Dişi">Dişi</option>
                <option value="Erkek">Erkek</option>
            </select>
            <br />


            <label class="form-label">
                Açıklama
            </label>

            <textarea class="form-control" id="Aciklama" asp-for="Aciklama"> </textarea>

            <br />
            <label class="form-label">
             Fotoğraf URL
            </label>

            <textarea class="form-control" id="fotografURL" asp-for="fotografURL"> </textarea>

        </div>

        <button type="submit" class=" btn btn-dark"> Ekle </button>
    </form>
</div>