@model Hayvan_Barınağı.Models.ViewModels.TurDuzenleRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Türleri Düzenle - Admin
        </h1>

    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">

            <label class="form-label">
                Tür ID
            </label>

            <input type="text" id="TurId" class="form-control" asp-for="TurId" readonly />

        </div>
        <div class="mb-3">

            <label class="form-label">
                Tür Adı
            </label>

            <input type="text" id="TurAdi" class="form-control" asp-for="TurAdi" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark"> Kaydet</button>
        </div>
    </form>
</div>
