@model Hayvan_Barınağı.Models.Hayvan.Tur

@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>
            Türleri Göster - Admin
        </h1>

    </div>
</div>
